body{
    margin: 0%;
    line-height: normal;

}
#navbar{
  	position: fixed;
  	top: 0px;
  	left: 0px;
  	background-color: #d9d9d9;
  	width: 100%;
  	height: 114px;
  	opacity: 0.75;
    text-align: center;
    align-items: center;
    display: flex;
    z-index: 10;
}
.text{
  margin:5px;
  padding: 5px;
}
.nav-left{
  position: absolute;
  display: flex;
  left: 1.25%;
  bottom: 5%;
  margin-left: 2px;
}
.nav-centre{
  position: absolute;
  left: 45%;
}
.nav-right{
  position: absolute;
  right: 1.25%;
  bottom: 5%;
}
.down{
  text-decoration: underline;
  color: #000;
}
.rai{
  z-index: 1000;
  color: #000; 
  text-decoration: none;
  display: inline-block;
  font-family: 'Instrument Serif';
  font-size: 64px;
}
.main-text{
  max-width: max-content;
}
.namaste{
  position: absolute;
  font-family:'Londrina Outline' ;
  display: inline-block;
  font-size: 96px;
  top: 35%;
  margin-left: 20%;
  color: #fff;
}
.welcome-to-the-container{
  position: absolute;
  top:55%;
  left:15%;
  color: #fff;
}
.main1{
  font-family: 'Kulim Park';
}
.akshat-rai{

  font-size: 64px;
  	font-family: 'Shadows Into Light Two';
}
.whatsapp-image-2025-05-25-at-1 {
  	position: absolute;
  	bottom: 0em;
  	right:-12em;
  	width: 1115px;
  	height: 1487px;
  	object-fit: cover;
}
.i-build-websites {
  	position: absolute;
  	top: 788px;
  	left: 4px;
  	font-family: 'Kulim Park';
  	color: #fff;
  	display: inline-block;
  	width: 186px;
  	height: 31px;
}
#homepage {
  	width: 100%;
  	position: relative;
  	background-color: #231a1a;
    z-index: -10;
  	height: 832px;
  	overflow-x: hidden;
  	text-align: center;
  	font-size: 24px;
  	color: #000;
  	font-family: Inter;
}


@media screen and (max-width:930px) {
  .whatsapp-image-2025-05-25-at-1{
    z-index: -1;
    opacity: 0.5;
  	width: 1115px;
  	height: 1487px;
  	object-fit: cover;
  
  }
  .main-text{
    position: absolute;
    left: 25%;
    top:35%
  }
  .down{
    display: none;
  }
  .line-parent {
  	width: 100%;
  	position: absolute;
  	right: 20px;
}
  .group-child {
  	position: absolute;
  	top: -0.5px;
  	right:2%;
  	border-top: 1px solid #000;
  	box-sizing: border-box;
  	width: 51px;
  	height: 1px;
}
.group-item {
  	position: absolute;
  	top: 12.5px;
  	right:2%;
  	border-top: 1px solid #000;
  	box-sizing: border-box;
  	width: 51px;
  	height: 1px;
}
.group-inner {
  	position: absolute;
  	top: 25.5px;
  	right:2%;
  	border-top: 1px solid #000;
  	box-sizing: border-box;
  	width: 51px;
  	height: 1px;
}



  

}