body{
    margin: 0%;
    line-height: normal;

}

#navbar{
  	position: fixed;
  	top: 0px;
  	left: 0px;
  	background-color: #d9d9d9;
	backdrop-filter: blur(20vh);
  	width: 100%;
  	height: 15vh;
  	opacity: 0.9;
    text-align: center;
    align-items: center;
    display: flex;
    z-index: 10;
}
.text{
  margin:5px;
  padding: 5px;
}
.nav-left{
  position: absolute;
  display: flex;
  left: 1.25%;
  bottom: 5%;
  margin-left: 2px;
}
.nav-centre{
  position: absolute;
  left: 45%;
}
.nav-right{
  position: absolute;
  right: 1.25%;
  bottom: 5%;
}
.down{
  text-decoration: underline;
  color: #000;
  font-size: 3vh;
}
.rai{
  z-index: 1000;
  color: #000; 
  text-decoration: none;
  display: inline-block;
  font-family: 'Instrument Serif';
  font-size: 8vh;
}
.main-text{
  max-width: max-content;
}
.namaste{
  position: absolute;
  font-family:'Londrina Outline' ;
  display: inline-block;
  font-size: 96px;
  top: 35%;
  margin-left: 20%;
  color: #fff;
}
.welcome-to-the-container{
  position: absolute;
  top:55%;
  left:15%;
  color: #fff;
}
.main1{
  font-family: 'Kulim Park';
}
.akshat-rai{

  font-size: 64px;
  	font-family: 'Shadows Into Light Two';
}
.whatsapp-image-2025-05-25-at-1 {
  	position: absolute;
  	bottom: 0em;
  	right:-5vw;
  	width: 50vw;
  	height: 170vh;
  	object-fit: cover;
}
.i-build-websites {
  	position: absolute;
  	bottom: 2%;
	left: 2%;
  	font-family: 'Kulim Park';
  	color: #fff;
  	display: inline-block;
  	font-size: 3vh;
}
#homepage {
	margin: 0px;
	padding: 0px;
  	width: 100%;
  	position: relative;
  	background-color: #231a1a;
    z-index: -10;
  	height: 100vh;
  	overflow-x: hidden;
  	text-align: center;
  	font-size: 24px;
  	color: #000;
  	font-family: Inter;
}

@media screen and (min-width:1800px) {
	.namaste{
		position: absolute;
		font-family:'Londrina Outline' ;
		display: inline-block;
		font-size: 20vh;
		top: 25%;
		margin-left: 15%;
		color: #fff;
	}
	.main1{
		font-size: 5vh;
		font-family: 'Kulim Park';
	}
	@media screen and (max-height:950px) and (min-height:590px) {
		.namaste{
			position: absolute;
			font-family:'Londrina Outline' ;
			display: inline-block;
			font-size: 24vh;
			top: 38%;
			margin-left: 4%;
			color: #fff;
		}
		.main1{
			font-size: 4vh;
			font-family: 'Kulim Park';
		}
		.welcome-to-the-container{
			position: absolute;
			top:40vh;
			left:40vw;
			color: #fff;
		}
	}
	@media screen and (max-height:590px) {
		.whatsapp-image-2025-05-25-at-1{
			height: 20vh;
		}
	}
	
}
@media screen and (min-width:1300px) and (max-width:1800px) {
	.namaste{
		position: absolute;
		font-family:'Londrina Outline' ;
		display: inline-block;
		font-size: 20vh;
		top: 25%;
		margin-left: 15%;
		color: #fff;
	}
	.main1{
		font-size: 3vh;
		font-family: 'Kulim Park';
	}
	
}	
	@media screen and (max-height:590px) and (min-height:400px){
		.namaste{
		position: absolute;
		font-family:'Londrina Outline' ;
		display: inline-block;
		font-size: 30vh;
		top: 35vh;
		margin-left: 2.5%;
		color: #fff;
	}
	.i-build-websites{
		font-size: 5vh;
	}
	.whatsapp-image-2025-05-25-at-1{
		width: 50vw;
		height: 180vh;
		bottom:0em;
		right: -15vw;
	}
	
	.welcome-to-the-container{
		position: absolute;
		top:30vh;
		left:40%;
		color: #fff;
	}
	.main1{
		font-size: 5vh;
	}
	.down{
		font-size: 4vh;
	}
	}
	@media screen and (max-height:400px) {
		.namaste{
		position: absolute;
		font-family:'Londrina Outline' ;
		display: inline-block;
		font-size: 40vh;
		top: 35vh;
		margin-left: 2.5%;
		color: #fff;
	}
	.i-build-websites{
		font-size: 5vh;
	}
	.whatsapp-image-2025-05-25-at-1{
		width: 50vw;
		height: 190vh;
		bottom:0em;
		right: -10vw;
	}
	.welcome-to-the-container{
		position: absolute;
		top:30vh;
		left:40%;
		color: #fff;
	}
	.main1{
		font-size: 5vh;
	}
	.down{
		font-size: 5vh;
	}
	.rai{
		font-size: 10vh;
	}
	}

@media screen and (max-width: 1300px)  and (min-width: 900px) {
	.namaste{
		position: absolute;
		font-family:'Londrina Outline' ;
		display: inline-block;
		font-size: 15vh;
		top: 30vh;
		left: -10vw;
		color: #fff;
	}
	.main1{
		font-size: 3vh;
		font-family: 'Kulim Park';
	}
	.welcome-to-the-container{
		position: absolute;
		top:50vh;
		left:10vw;
		color: #fff;
	}
	.whatsapp-image-2025-05-25-at-1 {
		position: absolute;
		bottom: 0em;
		right: 2vw;
		width: 50vw;
		height: 170vh;
		object-fit:cover;
	}
	@media screen and (min-height:878px) {
		.whatsapp-image-2025-05-25-at-1{
			opacity: 0.5;
			position: absolute;
			left:-6%;
			width: 100vw;
		}
		.namaste{
			left: 6vw
		}
		.welcome-to-the-container{
			left: 10%;
		}
		.main1{
			font-size: 4vh;
		}
	}
	@media screen and (max-height:700px) and (min-height: 600px) {
		.namaste{
		position: absolute;
		font-family:'Londrina Outline' ;
		display: inline-block;
		font-size: 20vh;
		top: 25vh;
		left: 10vw;
		color: #fff;
		margin: 2px;
	}
	.welcome-to-the-container{
		position: absolute;
		top:50vh;
		left:10vw;
		color: #fff;
	}
	.main1{
		font-size: 4vh;
		font-family: 'Kulim Park';
	}
	.whatsapp-image-2025-05-25-at-1 {
		position: absolute;
		bottom: 0em;
		right: -10vw;
		width: 60vw;
		height: 170vh;
		object-fit:cover;
	}
	}
	@media screen and (max-height: 600px)and (min-height: 400px){
		.namaste{
		position: absolute;
		font-family:'Londrina Outline' ;
		display: inline-block;
		font-size: 20vh;
		top: 40vh;
		left: 1vw;
		color: #fff;
		margin: 2px;
		
	}
	.welcome-to-the-container{
		position: absolute;
		top:35vh;
		left:35vw;
		color: #fff;
	}
	.main1{
		font-size: 5vh;
		font-family: 'Kulim Park';
	}
	.whatsapp-image-2025-05-25-at-1 {
		position: absolute;
		bottom: 0em;
		right: -10vw;
		width: 40vw;
		height: 170vh;
		object-fit:cover;
	}
	.rai{
		font-size: 10vh;
	}
	.down{
		font-size: 4vh;
	}}
	@media screen and (max-height: 400px) {
		.namaste{
			position: absolute;
			font-family:'Londrina Outline' ;
			display: inline-block;
			font-size: 30vh;
			top: 40vh;
			left: 4vw;
			color: #fff;
			margin: 2px;
			
		}
		.welcome-to-the-container{
			position: absolute;
			top:35vh;
			left:40vw;
			color: #fff;
			font-size: xx-small;
		}
		.whatsapp-image-2025-05-25-at-1 {
			position: absolute;
			bottom: 0em;
			right: -10vw;
			width: 40vw;
			height: 170vh;
			object-fit:cover;
		}
		.akshat-rai1{
			font-size: 12vh;
		}
		.main1{
			font-size: 6vh;
			font-family: 'Kulim Park';
		}
		.down{
			font-size: 4vh;
		}
		.rai{
			font-size: 14vh;
		}
	}

}

@media screen and (max-width:1000px) {
	
	.group-child {
  	position: absolute;
  	top: -0.5px;
  	right: 0.5%;
  	border-top: 2px solid #000;
  	box-sizing: border-box;
  	width: 51px;
  	height: 1px;
}
.group-item {
  	position: absolute;
  	top: 12.5px;
	right: 0.5%;
  	border-top: 2px solid #000;
  	box-sizing: border-box;
  	width: 51px;
  	height: 1px;
}
.group-inner {
  	position: absolute;
  	top: 25.5px;
right: 0.5%;
  	border-top: 2px solid #000;
  	box-sizing: border-box;
  	width: 51px;
  	height: 1px;
}
.line-parent {
  	width: 100%;
  	position: absolute;
	right: 2vw;
  	height: 26px;
}
		#navbar .show{
	  display: block;
}


	.down{
			display: none;
		}

}

@media screen and (max-width: 900px) and (min-width:680px){
	
	.whatsapp-image-2025-05-25-at-1{
		opacity: 0.5;
		position: absolute;
		left:-6%;
		width: 100vw;
		margin: 0%;
		object-fit: cover;
	}
	.namaste{
		position: absolute;
		font-family:'Londrina Outline' ;
		display: inline-block;
		font-size: 20vh;
		top: 30vh;
		width: 100%;
		left: -15%;
		color: #fff;
	}
	.welcome-to-the-container{
		position: absolute;
		left: 25%;
	}
	@media screen and (min-height:850px) {
		.namaste{
		position: absolute;
		font-family:'Londrina Outline' ;
		display: inline-block;
		font-size: 15vh;
		top: 30vh;
		width: 100%;
		left: -15%;
		color: #fff;
	}
	.welcome-to-the-container{
		left:12%
	}
	.main1{
		font-size: 4vh;
		font-family: 'Kulim Park';
	}
	}
	@media screen and (max-height:590px) and (min-height: 480px) {
		
		.namaste{
			position: absolute;
			font-family:'Londrina Outline' ;
			display: inline-block;
			font-size: 20vh;
			top: 25vh;
			width: 100%;
			left: 0vw;
			color: #fff;
		}
		.welcome-to-the-container{
			top:50vh;
			left:23vw;
			font-size: .5vh;
		}
		.main1{
			font-size: 4vh;
			font-family: 'Kulim Park';
		}
		.akshat-rai{
			font-size: 6vh;
		}
	}
	@media screen and (max-height:480px) {
		.whatsapp-image-2025-05-25-at-1{
			opacity: 1;
			left:-2%;
			width: 100vw;
			height: 200vh;
			bottom: 0em;
		}
		.namaste{
			left:-30vw;
		}
		.welcome-to-the-container{
			left: 65%;
			font-size: 0.1vh;
		}
		.main1{
			font-size: 3.5vh;
			font-family: 'Kulim Park';
		}
		.akshat-rai{
			font-size: 6vh;
		}
		#navbar{
			height: 16vh;
		}
		.rai{
			font-size: 10vh;
		}
	}
}

@media screen and (max-width: 680px) {
	.whatsapp-image-2025-05-25-at-1{
		opacity: 0.5;
		position: absolute;
		left:-6%;
		width: 100vw;
		margin: 0%;
		object-fit: cover;
	}
	.namaste{
		font-size: 20vh;
		top:25%;
		left:-8%;
	}
	.welcome-to-the-container{
		position: absolute;
		left: 8%;
	}
	.down{
		display: none;
	}
	.rai{
		font-size: 10vh;
	}
}

@media screen and (max-width: 680px) and (min-width: 400px) {
	.namaste{
		font-size: 10vh;
		right:2%;
	}
	.whatsapp-image-2025-05-25-at-1{
		width:220vw;
		height: 150vh;
		left: -70%;
	}
	#navbar{
		height: 15vh;
	}
	.rai{
		font-size: 8vh;
		margin-right:75%;
	}
	@media screen and (max-height:900px) and (min-height:650px){
		.main1{
			font-size: 4vh;
			font-family: 'Kulim Park';
		}
		.welcome-to-the-container{
			position: absolute;
			top:50vh;
			left:10vw;
			color: #fff;
		}
		.namaste{
			font-size: 10vh;
		}
		.whatsapp-image-2025-05-25-at-1{
			width:120vw;
			height: 150vh;
			position: absolute;
			left:-10%;
		}
	}
	@media screen and (max-height:650px){
		.main1{
			font-size: 4vh;
			font-family: 'Kulim Park';
		}
		.welcome-to-the-container{
			position: absolute;
			top:50vh;
			left:18vw;
			color: #fff;
			font-size: 0em;
		}
		.namaste{
			font-size: 15vh;
			left:4vw;
		}
		.rai{
			font-size: 10vh;
			margin-right:75%;
		}
		.i-build-websites{
			font-size: 3vh;
		}
		.akshat-rai{
			font-size: 6vh;
		}
		.whatsapp-image-2025-05-25-at-1{
			width:120vw;
			height: 150vh;
			position: absolute;
			left:-10%;
		}
	}
	
}


@media screen and (max-width: 400px) {
	.namaste{
		font-size: 10vh;
		right:2%;
	}
		.group-child {
  	position: absolute;
  	top: 5px;
  	right: 0.5%;
  	border-top: 2px solid #000;
  	box-sizing: border-box;
  	width: 20px;
  	height: 1px;
}
.group-item {
  	position: absolute;
  	top: 12.5px;
	right: 0.5%;
  	border-top: 2px solid #000;
  	box-sizing: border-box;
  	width: 20px;
  	height: 1px;
}
.group-inner {
  	position: absolute;
  	top: 20px;
right: 0.5%;
  	border-top: 2px solid #000;
  	box-sizing: border-box;
  	width: 20px;
  	height: 1px;
}
.line-parent {
  	width: 100%;
  	position: absolute;
	right: 2vw;
  	height: 26px;
}
	.whatsapp-image-2025-05-25-at-1{
		width:220vw;
		height: 150vh;
		left: -70%;
	}
	#navbar{
		height: 12vh;
	}
	.rai{
		font-size: 6vh;
		margin-right:2em;
		padding-right: 100%;
	}
	.welcome-to-the-container{
		font-size: 0%;
		top: 45vh;
		left: 10%
	}
	.main1{
		font-size: 2.2vh;
	}
	.i-build-websites{
		font-size: 2vh;
	}
	.akshat-rai{
		font-size: 6vh;
	}
	@media screen and (max-height:660px) and ( min-height: 400px){
		.main1{
			font-size: 3.5vh;
			font-family: 'Kulim Park';
		}
		.welcome-to-the-container{
			position: absolute;
			top:50vh;
			left:10vw;
			color: #fff;
		}
		.namaste{
			font-size: 14vh;
		}
		.whatsapp-image-2025-05-25-at-1{
			width:120vw;
			height: 150vh;
			position: absolute;
			left:-10%;
		}
	}
	@media screen and (max-height:400px) {
		.main1{
			font-size: 3vh;
			font-family: 'Kulim Park';
		}
		.welcome-to-the-container{
			position: absolute;
			top:50vh;
			left:25vw;
			color: #fff;
		}
		.namaste{
			font-size: 20vh;
			left: 2%;
		}
		.whatsapp-image-2025-05-25-at-1{
			width:120vw;
			height: 150vh;
			position: absolute;
			left:-10%;
		}
	}
		
	}
	
.carousel-wrapper {
	position: relative;
	top: 20vh;
	width: 90%;
	height: 100vh;
	margin: auto;
	padding: 40px 0;
}

.carousel-slide {
  position: relative;
  padding: 10px;
  transition: transform 0.5s ease;
}

.carousel-img-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  transform: scale(0.95);
  transition: transform 0.5s ease-in-out;
}

.carousel-img-wrapper:hover {
  transform: scale(1.05);
}

.carousel-img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.5s ease;
  transition:filter 2s ease;
  object-fit: cover;
}

/* Zoom animation on entry */
.slick-center .carousel-img-wrapper {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}

/* Gradient overlay */
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent);
  border-radius: 0 0 20px 20px;
}

