body{
    margin: 0%;
    line-height: normal;

}

#navbar{
  	position: fixed;
  	top: 0px;
  	left: 0px;
  	background-color: #d9d9d9;
  	width: 100%;
  	height: 15vh;
  	opacity: 0.75;
    text-align: center;
    align-items: center;
    display: flex;
    z-index: 10;
}
.text{
  margin:5px;
  padding: 5px;
}
.nav-left{
  position: absolute;
  display: flex;
  left: 1.25%;
  bottom: 5%;
  margin-left: 2px;
}
.nav-centre{
  position: absolute;
  left: 45%;
}
.nav-right{
  position: absolute;
  right: 1.25%;
  bottom: 5%;
}
.down{
  text-decoration: underline;
  color: #000;
  font-size: 3vh;
}
.rai{
  z-index: 1000;
  color: #000; 
  text-decoration: none;
  display: inline-block;
  font-family: 'Instrument Serif';
  font-size: 8vh;
}
.main-text{
  max-width: max-content;
}
.namaste{
  position: absolute;
  font-family:'Londrina Outline' ;
  display: inline-block;
  font-size: 96px;
  top: 35%;
  margin-left: 20%;
  color: #fff;
}
.welcome-to-the-container{
  position: absolute;
  top:55%;
  left:15%;
  color: #fff;
}
.main1{
  font-family: 'Kulim Park';
}
.akshat-rai{

  font-size: 64px;
  	font-family: 'Shadows Into Light Two';
}
.whatsapp-image-2025-05-25-at-1 {
  	position: absolute;
  	bottom: 0em;
  	right:-5vw;
  	width: 50vw;
  	height: 170vh;
  	object-fit: cover;
}
.i-build-websites {
  	position: absolute;
  	bottom: 2%;
	left: 2%;
  	font-family: 'Kulim Park';
  	color: #fff;
  	display: inline-block;
  	font-size: 3vh;
}
#homepage {
	margin: 0px;
	padding: 0px;
  	width: 100%;
  	position: relative;
  	background-color: #231a1a;
    z-index: -10;
  	height: 100vh;
  	overflow-x: hidden;
  	text-align: center;
  	font-size: 24px;
  	color: #000;
  	font-family: Inter;
}

@media screen and (min-width:1800px) {
	.namaste{
		position: absolute;
		font-family:'Londrina Outline' ;
		display: inline-block;
		font-size: 20vh;
		top: 25%;
		margin-left: 15%;
		color: #fff;
	}
	.main1{
		font-size: 5vh;
		font-family: 'Kulim Park';
	}
	@media screen and (max-height:950px) and (min-height:590px) {
		.namaste{
			position: absolute;
			font-family:'Londrina Outline' ;
			display: inline-block;
			font-size: 24vh;
			top: 38%;
			margin-left: 4%;
			color: #fff;
		}
		.main1{
			font-size: 4vh;
			font-family: 'Kulim Park';
		}
		.welcome-to-the-container{
			position: absolute;
			top:40vh;
			left:40vw;
			color: #fff;
		}
	}
	@media screen and (max-height:590px) {
		.whatsapp-image-2025-05-25-at-1{
			height: 20vh;
		}
	}
	
}
@media screen and (min-width:1300px) and (max-width:1800px) {
	.namaste{
		position: absolute;
		font-family:'Londrina Outline' ;
		display: inline-block;
		font-size: 20vh;
		top: 25%;
		margin-left: 15%;
		color: #fff;
	}
	.main1{
		font-size: 3vh;
		font-family: 'Kulim Park';
	}
	
}	
	@media screen and (max-height:590px) and (min-height:400px){
		.namaste{
		position: absolute;
		font-family:'Londrina Outline' ;
		display: inline-block;
		font-size: 30vh;
		top: 35vh;
		margin-left: 2.5%;
		color: #fff;
	}
	.i-build-websites{
		font-size: 5vh;
	}
	.whatsapp-image-2025-05-25-at-1{
		width: 50vw;
		height: 180vh;
		bottom:0em;
		right: -15vw;
	}
	
	.welcome-to-the-container{
		position: absolute;
		top:30vh;
		left:40%;
		color: #fff;
	}
	.main1{
		font-size: 5vh;
	}
	.down{
		font-size: 4vh;
	}
	}
	@media screen and (max-height:400px) {
		.namaste{
		position: absolute;
		font-family:'Londrina Outline' ;
		display: inline-block;
		font-size: 40vh;
		top: 35vh;
		margin-left: 2.5%;
		color: #fff;
	}
	.i-build-websites{
		font-size: 5vh;
	}
	.whatsapp-image-2025-05-25-at-1{
		width: 50vw;
		height: 190vh;
		bottom:0em;
		right: -10vw;
	}
	.welcome-to-the-container{
		position: absolute;
		top:30vh;
		left:40%;
		color: #fff;
	}
	.main1{
		font-size: 5vh;
	}
	.down{
		font-size: 5vh;
	}
	.rai{
		font-size: 10vh;
	}
	}

@media screen and (max-width: 1300px)  and (min-width: 900px) {
	.namaste{
		position: absolute;
		font-family:'Londrina Outline' ;
		display: inline-block;
		font-size: 15vh;
		top: 30vh;
		left: -10vw;
		color: #fff;
	}
	.main1{
		font-size: 3vh;
		font-family: 'Kulim Park';
	}
	.welcome-to-the-container{
		position: absolute;
		top:50vh;
		left:10vw;
		color: #fff;
	}
	.whatsapp-image-2025-05-25-at-1 {
		position: absolute;
		bottom: 0em;
		right: 2vw;
		width: 50vw;
		height: 170vh;
		object-fit:cover;
	}
	@media screen and (max-height:700px) and (min-height: 600px) {
		.namaste{
		position: absolute;
		font-family:'Londrina Outline' ;
		display: inline-block;
		font-size: 20vh;
		top: 25vh;
		left: 10vw;
		color: #fff;
		margin: 2px;
	}
	.welcome-to-the-container{
		position: absolute;
		top:50vh;
		left:10vw;
		color: #fff;
	}
	.main1{
		font-size: 4vh;
		font-family: 'Kulim Park';
	}
	.whatsapp-image-2025-05-25-at-1 {
		position: absolute;
		bottom: 0em;
		right: -10vw;
		width: 60vw;
		height: 170vh;
		object-fit:cover;
	}
	}
	@media screen and (max-height: 600px)and (min-height: 400px){
		.namaste{
		position: absolute;
		font-family:'Londrina Outline' ;
		display: inline-block;
		font-size: 20vh;
		top: 40vh;
		left: 1vw;
		color: #fff;
		margin: 2px;
		
	}
	.welcome-to-the-container{
		position: absolute;
		top:35vh;
		left:35vw;
		color: #fff;
	}
	.main1{
		font-size: 5vh;
		font-family: 'Kulim Park';
	}
	.whatsapp-image-2025-05-25-at-1 {
		position: absolute;
		bottom: 0em;
		right: -10vw;
		width: 40vw;
		height: 170vh;
		object-fit:cover;
	}
	.rai{
		font-size: 10vh;
	}
	.down{
		font-size: 4vh;
	}}
	@media screen and (max-height: 400px) {
		.namaste{
			position: absolute;
			font-family:'Londrina Outline' ;
			display: inline-block;
			font-size: 30vh;
			top: 40vh;
			left: 4vw;
			color: #fff;
			margin: 2px;
			
		}
		.welcome-to-the-container{
			position: absolute;
			top:35vh;
			left:40vw;
			color: #fff;
		}
		.whatsapp-image-2025-05-25-at-1 {
			position: absolute;
			bottom: 0em;
			right: -10vw;
			width: 40vw;
			height: 170vh;
			object-fit:cover;
		}
		.akshat-rai1{
			font-size: 12vh;
		}
		.main1{
			font-size: 6vh;
			font-family: 'Kulim Park';
		}
		.down{
			font-size: 4vh;
		}
		.rai{
			font-size: 14vh;
		}
	}

}

@media screen and (max-width: 900px) and (min-width:680px){
	.whatsapp-image-2025-05-25-at-1{
		opacity: 0.5;
		position: absolute;
		left:-6%;
		width: 100vw;
		margin: 0%;
		object-fit: cover;
	}
	.namaste{
		position: absolute;
		font-family:'Londrina Outline' ;
		display: inline-block;
		font-size: 20vh;
		top: 30vh;
		width: 100%;
		left: -100px;
		color: #fff;
	}
	.welcome-to-the-container{
		position: absolute;
		left: 15%;
	}
	@media screen and (max-height:590px) and (min-height: 480px) {
		.namaste{
			position: absolute;
			font-family:'Londrina Outline' ;
			display: inline-block;
			font-size: 20vh;
			top: 25vh;
			width: 100%;
			left: 0vw;
			color: #fff;
		}
		.welcome-to-the-container{
			top:50vh;
			left:29vw;
			font-size: .5vh;
		}
		.main1{
			font-size: 4vh;
			font-family: 'Kulim Park';
		}
		.akshat-rai{
			font-size: 6vh;
		}
	}
	@media screen and (max-height:480px) {
		.whatsapp-image-2025-05-25-at-1{
			opacity: 1;
		}
		.namaste{
			left:-30vw;
		}
		.welcome-to-the-container{
			left: 55%;
			font-size: 0.1vh;
		}
		.main1{
			font-size: 4vh;
			font-family: 'Kulim Park';
		}
		.akshat-rai{
			font-size: 6vh;
		}
	}
}


